# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Output directory for generated Anki packages
output/
*.apkg

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Log files
*.log

*test_sample.toml


